In [2]:
import pandas as pd
df = pd.read_csv('ratings_small.csv')
df.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [3]:
df = df.drop('timestamp', axis=1)
df.head(2)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0