In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('ratings_small.csv')
df.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [17]:
df = df.drop('timestamp', axis=1)
df.head(2)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0

In [18]:
matrix = pd.pivot_table(df, values='rating', index='userId', columns='movieId')

In [19]:
## cria a matriz B
b = matrix.copy()

In [35]:
## substitui um elemento aleatório que não seja NAN da matriz B por um valor aleatorio de 0 a 5.
i = np.random.randint(0, b.shape[0])
j = np.random.randint(0, b.shape[1])
while np.isnan(b.iloc[i, j]):
    i = np.random.randint(0, b.shape[0])
    j = np.random.randint(0, b.shape[1])
print(i, j)
print(b.iloc[i, j])
b.iloc[i, j] = np.random.randint(0, 51)/10
print(b.iloc[i, j])

460 4086
3.0
2.0